
	<footer>

		<div class="footerLinks">
			<ul class="siteFooter">
				<li class="copyright"> <p> &copy; STLP </p> </li>
				<li> <a  href="/about"> About </a> </li>
				<li > <a  href="/contact"> Contact </a> </li>
			</ul>
		</div>
		
	</footer>

</body>
</html>