<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title> Refurbished Headphones</title>
	<link rel = "stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
	<header>
		
		
	<div class="userNav">
		<div class= "logo-image">
			
			<div class="logo"> <a href="/" ><img  src="/images/logo.png" alt="logo" class="logo-image"> </a> </div>

		</div>
		<div>
		<ul >			
			<li class="animate"><a href="/users/logout"> Logout  </a> </li>
			<li class="animate"><a href="/users/profile"> Profile</a></li>

			<li class="animate"><a href="/users/new"> Sign Up  </a> </li>
			<li class="animate"><a href="/users/login"> Log in</a></li>
			<li class="animate"> <a href="/newTrade">   Create a New Trade </a> </li>
		</ul>
		</div>
	</div>

</header>
	<hr>
	<nav>
		<div class="navContents">

			<ul class="siteNav">
				<li> <a  href="/"> Homes </a> </li>
				<li > <a  href="/trades"> Trades </a> </li>
			</ul>
		</div>

	</nav>
    <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
               <strong>Error!</strong> <%=message%>
            </div>
            <%});%>
                <%}%>
    
                    <% if(successMessages.length > 0) {%>
    
                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
								<strong>Success!</strong>    <%=message%>
                            </div>
                            <%});%>
                                <%}%>