
<%- include('../partials/header.ejs')%>
<div class = "content">
    <form action = '/users' method = 'POST'>
        <table>
            <tr>
                <td><label for="firstName">First Name</label></td>
                <td><input type="text" id="firstName" name="firstName" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="lastName">Last Name</label></td>
                <td><input type="text" id="lastName" name="lastName" class = "fixed-width" required></td>
            </tr>

            <tr>
                <td><label for="email">Email Address</label></td>
                <td><input type="email" id="email" name="email" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" name="password" class = "fixed-width" minlength="8" required></td>
            </tr>
            
            <tr>
                <td colspan="2" class = "align-right"><button>Sign Up</button></td>
            </tr>
        </table>        
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>


