<%- include('../partials/header.ejs')%>


<article class='about'>

  <div class='about-body'>
    

    <div class= 'innner-about'>
      <h1 class="headerAbout">
        About Us
      </h1>
      <p class='text'>
        Welcome to S.T.L.P, S.T.L.P stands for Swap technology with less problem, Inc.
        We sell products that costumer could exchange or we also find better deals with other vender using tie ups and so forth. We are a small growing company selling and exchanging refurbhished techonologies such as Headphones, laptops, mouses, monitor, motherboard, etc. 

        We are doing this Since last 5 years and was able to get 100% positive feedback.
      </p>



    </div>

  </div>
    <div class='about-body'>

    <div class='outer-about'>
      
    </div>

  </div>

<div>

</div>
  </article>
 



        <%- include('../partials/designerfooter.ejs')%>
